/animation.gif
/archived
/Bayesian-Methods-for-Hackers-5b33f77
/download_MODIS_LAI.ipynb
/hdf_files.ipynb
/interpolate_and_export.py
/interpolation.py
/interpolation.rar
/lai.nc
/lai.nc.aux.xml
/Molenbeek_Vremde.ipynb
/numerical_estimation.ipynb
/pastas
/pastas.zip
/pastas_recharge_estimation.ipynb
/pgw_timeseries_analysis.py
/piezometers.png
/prepare_wetspass_inputs.ipynb
/process_wetspass_outputs.py
/raster_ops.ipynb
/resample_mosaic_rasters.py
/spatial_interpolation.ipynb
/spatial_interpolation.py
/SPEI-main
/SPEI-main.zip
/wetland.py
/wetland_model
/wetspassM_eqn_validation.ipynb
/__pycache__